[user]
	name = Ken Kawamoto
	email = ken.kawamoto@kittyhawk.aero

[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	delete = !sh -c "cd .; to_die=`git name-rev --name-only HEAD`; if [ 'xx' != 'x${to_die}x' ]; then git checkout master; git br -D $to_die; fi"
	update = !sh -c "cd .; self=`git name-rev --name-only HEAD`; parent=`git config --get branch.$self.parent || echo origin/master`; echo merging $parent into $self; git merge $parent --no-edit"
	mylog = "log --author=ken.kawamoto@kittyhawk.aero"
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
	d = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
    brdiff = "!f() { br=$1; bs=`git merge-base origin/master $br`; git diff $bs $br; }; f "

[push]
	default = current

[core]
	excludesfile = ~/.gitignore
#	pager = cat

[color]
	ui = true

#[diff]
#	renames = copies
[http]
	postBuffer = 209715200
#        sslCAinfo = /System/Library/OpenSSL/cert.pem
